@model WebUI.Models.Company

@{
    ViewBag.Title = "Edit Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit/Update Company Info</h2>
<br />
@using (Html.BeginForm("Edit", "Company", FormMethod.Post, null))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CompanyContact.CompanyId)
    <input id="hddMessageAction" type="hidden" value="@ViewBag.messageAction" />

    <div class="row">
        <div class="form-group col-3">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control col", @maxlength = "50" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            @Html.LabelFor(m => m.CompanyContact.ContactNumber)
            @Html.TextBoxFor(m => m.CompanyContact.ContactNumber, new { @class = "form-control col", @maxlength = "15" })
            @Html.ValidationMessageFor(m => m.CompanyContact.ContactNumber, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col">
            @Html.LabelFor(m => m.CompanyContact.Address)
            @Html.TextBoxFor(m => m.CompanyContact.Address, new { @class = "form-control col", @maxlength = "100" })
        </div>
    </div>
    @Html.ValidationMessage("summaryErrors", new { @class = "text-danger" })
    <div class="row form-group">
        <button type="submit" class="btn btn-success">Update</button>
        <a class="btn btn-danger" href="@Url.Action("Index", "Company")">Back</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}