
@{
    ViewBag.Title = "Index Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="card-header">@ViewBag.Title</h4>
<br />
<span class="text-right formHeaderControl mb-5">
    <a class="btn btn-primary mb-2" href="@Url.Action("Add", "Company")" title="Click to create new Company">New Company</a>
</span>
@using (Html.BeginForm())
{
    <br>
    <table class="table table-sm table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Edit</th>
                @*<th class="text-center">Delete</th>*@
            </tr>
        </thead>
        <tbody>
            @{
                if (ViewBag.ListCompanies != null)
                {
                    foreach (WebUI.Models.Company item in ViewBag.ListCompanies)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td class="text-center">
                                <a title="Edit company info"
                                   href="@Url.Action("Edit", "Company", new { id = Convert.ToInt32(item.Id) })">
                                    Edit
                                </a>
                            </td>
                            @*<td class="text-center">
                                <a title="Delete company"
                                   href="@Url.Action("Delete", "Company", new { id = Convert.ToInt32(item.Id) })">
                                    Delete
                                </a>
                            </td>*@
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

}
